body {
    margin: 0;
}
.container {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}
.blog-content {
    width: 80%;
    height: 200px;
    /* background: #eee; */
    float: left;
    /* margin-bottom: 20px; */
}
.profile_img {
    width: 100px;
    height: 100%;
    float: left;
}

.blog-img {
    width: 20%;
    height: 200px;
    /* background: yellow; */
    float: left;
    vertical-align: middle;
}

.blog-name {
    width: 100px;
    display: block;
    float: left;
}