.profileImage{
    width: 100px;
    margin-top: 30px; 
    display: block; 
    margin-left: auto; 
    margin-right: auto;
}

.title{
    font-size: 20px; 
    font-family: 'gulim'; 
    color:blue; 
    letter-spacing: 3px; 
    text-align: center; 
    font-weight: 600;
}

p {
    text-align: center;
}

.box {
    width: 200px;
    /* height: 100px; */
    background: cadetblue;
    margin: 20px;
    padding: 40px;
    /* border: 4px solid black; */
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    font-size: 10px;
    box-shadow: 5px 5px black;
}